body {
  background-color: rgb(46, 46, 46);
  height: 100vh;
  font-family: "Acme", cursive;
  color: white;
  margin: 0;
}
h1 {
  text-align: center;
  color: white;
  font-weight: 900;
} 

select,
#time,
#submit {
  font-size: 1em;
  height: 2em;
  width: 12em;
  text-align: center;
}

#submit {
  height: 3em;
  border-radius: 7px;
}

a {
  color: white;
  text-decoration: none;
}

.switchButton {
  background-color: rgb(243, 192, 24);
  width: 3em;
  height: 2em;
  margin: 0 1em;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  font-size: 1em;
}

.selectOption {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-image: linear-gradient(#f9cb8c, #cbb8a4),
  url(wall.jpg);
  background-size: cover;
  background-blend-mode: saturation;
  justify-content: center;
}

.selectOption h1 {
  color: black;
}

.datePicker {
  height: initial;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(#f9cb8c, #cbb8a4),
  url(wall.jpg);
  background-size: cover;
  background-blend-mode: saturation;
}

.datePicker h1 {
  margin: 0;
  padding: 1em 0;
}

.bg {
  background-image: url(scroll.png);
  background-size: contain;
  padding: 3em 0;
  background-position-x: center;
  background-repeat: no-repeat;
}

.quickLink {
  background-color: rgb(243, 192, 24);
  width: 12em;
  height: 3em;
  border-radius: 2px;
  border: none;
  color: black;
  font-weight: 900;
  font-size: 1.4rem;
  font-family: "Acme", sans-serif;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.workLink {
  margin-bottom: 2em;
}

.selectTime {
  margin-top: 1.3em;
}

.locationLabel {
  margin-right: 0.5em;
}

.selectDay {
  margin-top: 1em;
}

#selectTrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

#selectDate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1em;
  color: black;
  padding: 1em 1em 0 0;
  border: 2px transparent solid;
}

#selectHour {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 1em 1em 0 0;
}

#selectMinutes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 1em 1em 0 0;
}

#selectDate:focus-within,
#selectHour:focus-within,
#selectMinutes:focus-within {
  border: 2px rgba(255, 255, 255, 0.322) solid;
  border-radius: 2px;
}

label,
#submit {
  cursor: pointer;
}

.date,
.hour,
.minute {
  opacity: 0;
}

.dates,
.hours,
.minutes {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12em;
  height: 3em;
  background-color: rgb(250, 247, 217);
  margin-bottom: 1em;
  color: black;
  border-radius: 7px;
}

.hours,
.minutes {
  width: 3em;
  height: 2em;
}

input[type="radio"]:focus + .dates,
input[type="radio"]:focus + .hours,
input[type="radio"]:focus + .minutes {
  border: 2px rgb(255, 255, 255) solid;
}

.date:checked + .dates,
.hour:checked + .hours,
.minute:checked + .minutes {
  background-color: rgb(243, 192, 24);
}
